@import '~@po-ui/style/css/po-theme-default.min.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, Helvetica, Arial, sans-serif;
}
